@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(7, 10, 44);

}

.cabecalho{
    display: flex;
    background-color: rgb(134, 207, 255);
    font-weight: 600;
}

.links-cabecalho-home {
    display: flex;
    margin-left: 6%;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    font-weight: 800;
    color: rgb(5, 5, 5);
}

.links-cabecalho {
    display: flex;
    margin-left: 6%;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: rgb(62, 61, 61);
}

.logo-t {
    padding-left: 7%;
    margin-right: 7%;
    align-items: center;
    display: flex;
    height: 10vh;
    width: 20%;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.t {
    background-color: rgb(144, 196, 242);
    border-radius: 9px;
    padding: 4px 5px;
    margin-right: 4%;
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    

}

.textos {
    padding-right: 11.87%;
    
}

.titulo-corpo{
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: rgb(219, 237, 251);
    border-radius: 20px 40px;
    padding: 2%;
    padding-left: 3%;
    width: 77%;
}

.paragrafo-corpo {
    padding-right: 7%;
    border-radius: 20px 40px;
    padding: 2%;
    padding-left: 3%;
    width: 77%;
    color: aliceblue;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.decoracao {
    height: 70px;
    display: flex;
    padding-right: 10%;
    margin-bottom: 20%;
}

.imagem-principal {
    height: 300px;
    display: flex;
    padding-right: 15%;
}