@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
}

.links-cabecalho {
    display: flex;
    margin-left: 6%;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: rgb(106, 102, 102);
}

.logo-t {
    padding-left: 7%;
    margin-right: 7%;
    align-items: center;
    display: flex;
    height: 10vh;
    width: 20%;
    text-decoration: none;
    color: black;
}

.t {
    background-color: rgb(144, 196, 242);
    border-radius: 9px;
    padding: 4px 5px;
    margin-right: 4%;
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;

}

.textos {
    padding-right: 10%;
}

.titulo-corpo{
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}

.paragrafo-corpo {
    padding-right: 7%;
}

.decoracao {
    height: 70px;
    display: flex;
    padding-right: 10%;
    margin-bottom: 20%;
}

.imagem-principal {
    height: 300px;
    display: flex;
    padding-right: 15%;
}